<article class="plan-card">
  <h3 class="plan-card__title">{{ title }}</h3>
  <ul class="plan-card__features">
    <li *ngFor="let f of features">
      <span class="feat-icon" [class.yes]="f.included" [class.no]="!f.included" aria-hidden="true">
        <ng-container *ngIf="f.included; else noIcon">✓</ng-container>
        <ng-template #noIcon>✕</ng-template>
      </span>
      <span class="feat-label">{{ f.label }}</span>
    </li>
  </ul>
  <a routerLink="/contacto" class="plan-card__cta">Consultar →</a>
</article>
